---
import type { Piece } from './generatePieces';

export interface Props {
	piece: Piece;
}

const { piece } = Astro.props;
---
<div class="piece-info">
	<div class="top">
		{piece.top === null ? '路' : piece.top}
	</div>
	<div class="middle">
		<div>
		{piece.left === null ? '路' : piece.left}
		</div>
		<div>
		{piece.right === null ? '路' : piece.right}
		</div>
	</div>
	<div class="bottom">
		{piece.bottom === null ? '路' : piece.bottom}
	</div>
</div>
<style>
  .piece-info {
		background-color: red;
  }

	.top, .bottom {
		display: flex;
		justify-content: center;
	}

	.middle {
		display: flex;
		justify-content: space-between;
	}
</style>