---
import Header from '../components/Header.astro';
import BaseHead from '../components/BaseHead.astro';
import JigsawView from '../components/jigsaw/JigsawView.astro'

---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title='sandbox' description='woot' />
    <style>
    </style>
  </head>
  <body>
    <Header />
    <main>
      <JigsawView/>
      <p>welcome to the sandbox</p>
    </main>
  </body>
</html>
